html, body {margin: 0; height: 100%; overflow: hidden}

.main-text {
    font-family: 'Inconsolata', 'IBM Plex Mono', 'Titillium Web', sans-serif;
    font-size: 12.5vw;
    text-shadow: 0.25vw 0.25vw 2px rgba(0,0,0,.9);
    color: #fff;
}

.red-text {
    color: #ef5350;
}

.padder {
    padding: 2rem 1rem;
}

.mini-text {
    font-size: 6vw;
}

.navpos {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.drag-text{
    -webkit-app-region: drag;
}

#endMessage {
    opacity: 1;
    transition: opacity 1.5s;

    font-size: 4vw;
}
.hide {
    opacity: 0 !important;
}