html, body {margin: 0; height: 100%; overflow: hidden}

.padder {
    padding: 2rem 1rem;
}

.mini-text {
    font-size: 6vw;
}

.navpos {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.drag-text{
    -webkit-app-region: drag;
}

#timer {
    font-family: 'Inconsolata', 'IBM Plex Mono', 'Titillium Web', sans-serif;
    font-size: 12.5vw;
    text-shadow: 0.25vw 0.25vw 2px rgba(0,0,0,.9);
    color: #fff;
}
